

/*Main Elements*/
* {
    font-family: 'Ubuntu', "Times New Roman", sans-serif;
    margin: 0;
    color: lightgrey;
}

main {
    background-image: linear-gradient(blue, green);
}
h2, h3, h4, h5, h6 {
    color: lightgrey;
    text-decoration: underline;
    padding: 10px;
    text-align: center;
}

li {
    list-style-type: square;
    text-align: left;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

tr {
    height: 50px;
}
table, td, tr, th {
    font-family: 'Merriweather', sans-serif;
    border: 1px black solid;
    border-collapse: collapse;
    text-align: center;
}

a:hover {
    text-transform: uppercase;

}

hr {
    margin: 15px;
}

footer {
    text-align: center;
    margin: 15px;
    padding: 50px;
}
/*classes*/

.fancy-header {
    color: lightgrey;
    background-image: url("../img/space.jpeg");
    background-size: 300px;
    text-align: center;
    padding: 20px;
}

.company-vision {
    text-align: center;
    padding-bottom: 30px;
}

.company-vision h2 {
    padding: 30px;
}
.list    {
    text-align: center;
    justify-content: start;
}

.list ul, ol {
    display:inline-table;
}







